body {
  background-color: rgb(233, 223, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 60%;
  border-radius: 10px;
  background-color: aliceblue;
}
h1 {
  color: rgb(85, 5, 160);
}
.nav {
  border-bottom: 2px solid rgb(183, 176, 189);
  width: 100%;
}
.nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#team{
  text-transform: uppercase;
  text-decoration: none;
  font-size:1em;
  font-weight: bold;
  color:rgb(85, 5, 160);
}
.nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size:1em;
  font-weight: bold;
  color:rgb(200, 175, 255);
}
.nav ul li a:hover {
  text-transform: uppercase;
  text-decoration: none;
  font-size:1em;
  font-weight: bold;
  color:rgb(200, 175, 255);
}

